---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute -top-12 right-0">
        <BackToTop />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>&copy; {new Date().getFullYear()} • {SITE.TITLE} 🖥️</div>
   
    </div>
  </Container>
</footer>

<script>
  import { handleToggleClick } from "astro-theme-toggle";
  const addListener = () => {
    document
      .getElementById("theme-toggle")
      ?.addEventListener("click", handleToggleClick);
  };
  addListener();
  document.addEventListener("astro:after-swap", addListener);
</script>


